In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API kep.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lon,Max Temp,HUmidity,Cloudiness,Wind Speed
0,0,Provideniya,RU,2021-04-21 15:02:07,64.3833,-173.3000,30.69,42,100,3.47
1,1,Ilulissat,GL,2021-04-21 15:02:08,69.2167,-51.1000,21.20,58,1,6.91
2,2,Mataura,NZ,2021-04-21 15:02:08,-46.1927,168.8643,48.00,97,100,4.00
3,3,Kapaa,US,2021-04-21 15:02:09,22.0752,-159.3190,68.00,88,90,4.61
4,4,Nouadhibou,MR,2021-04-21 15:02:09,20.9310,-17.0347,75.20,60,4,18.41

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lon           float64
Max Temp      float64
HUmidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longtitude.
locations = city_data_df[["Lat", "Lon"]]
# Get the macimum termperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300,
                                 point_radius=4)
# Add heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
#fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lon"]]
humidity = city_data_df["HUmidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lon"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lon"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximom termp value.
min_temp = float(input("What is hte minimum temperature you would like for your trip? "))
max_temp = float(input("What is hte minimum temperature you would like for your trip? "))

What is hte minimum temperature you would like for your trip? 75
What is hte minimum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lon,Max Temp,HUmidity,Cloudiness,Wind Speed
4,4,Nouadhibou,MR,2021-04-21 15:02:09,20.9310,-17.0347,75.20,60,4,18.41
9,9,Rikitea,PF,2021-04-21 15:02:12,-23.1203,-134.9692,77.56,73,71,7.76
20,20,Bambous Virieux,MU,2021-04-21 15:02:16,-20.3428,57.7575,77.00,94,75,6.91
26,26,San Andres,CO,2021-04-21 15:00:12,12.5847,-81.7006,84.20,70,20,18.41
27,27,Saldanha,ZA,2021-04-21 15:02:19,-33.0117,17.9442,75.20,46,15,8.05
...,...,...,...,...,...,...,...,...,...,...
566,566,Manbij,SY,2021-04-21 15:05:56,36.5281,37.9549,75.20,35,0,4.61
568,568,Chake Chake,TZ,2021-04-21 15:02:15,-5.2459,39.7666,78.96,82,90,12.37
569,569,Ardakan,IR,2021-04-21 15:05:57,32.3100,54.0175,87.80,11,75,6.91
570,570,Samana,DO,2021-04-21 15:03:32,19.2056,-69.3369,84.20,70,40,11.50
575,575,Kirakira,SB,2021-04-21 15:06:00,-10.4544,161.9205,79.56,86,65,5.91

In [12]:
# Find null values
preferred_cities_df.count()

City_ID       193
City          193
Country       192
Date          193
Lat           193
Lon           193
Max Temp      193
HUmidity      193
Cloudiness    193
Wind Speed    193
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lon"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lon Hotel Name
4        Nouadhibou      MR     75.20  20.9310  -17.0347
9           Rikitea      PF     77.56 -23.1203 -134.9692
20  Bambous Virieux      MU     77.00 -20.3428   57.7575
26       San Andres      CO     84.20  12.5847  -81.7006
27         Saldanha      ZA     75.20 -33.0117   17.9442
30           Atuona      PF     79.77  -9.8000 -139.0333
33          Isangel      VU     77.90 -19.5500  169.2667
35         Bengkulu      ID     76.89  -3.8004  102.2655
36            Tabou      CI     85.71   4.4230   -7.3528
40       Georgetown      MY     86.00   5.4112  100.3354

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longtitude.
    lat = row["Lat"]
    lng = row["Lon"]
    
    # Add the latitude and longtitude to locations key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term" "lodging" and our latitude and longtitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.